

/** para la seccion 4 **/
@media (max-width: 768px) {

/** seccion 1 **/
.mostrar-boton{
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 60px;
    z-index: 1000;
    margin-left: 15%;
    margin-top: 10%;
  }

  .modal.fullscreen-modal {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
  }

  .modal-content video {
    width: 80%;
    height: auto;
  }

  .btn-cerrar {
    width: 50px;
    height: 50px;
    right: 7%;
    border-radius: 50%;
    font-size: 4.5vw;
  }
  .bloque-interprete{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0%;
    top: 0%;
    width: 40%;
    height: 15%;
  }
  .video-interprete {
    width: 65%;
    height: 55%;
    top: 15%;
    left: 15%;
    position: absolute;
    object-fit: cover;
    border-radius: 3px;
    cursor: pointer;
  }

  .cerrar-boton {
    position: absolute;
    top: 8%;
    right: 15%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .close-icon {
    font-size: 0.5rem;
    cursor: pointer;
  }















  .about-title {
    font-size: 4.5rem;
  }

  .card {
    width: 200px;
    height: 280px;
  }

  .card.left-2 {
    transform: translateX(-250px) scale(0.8) translateZ(-300px);
  }

  .card.left-1 {
    transform: translateX(-120px) scale(0.9) translateZ(-100px);
  }

  .card.right-1 {
    transform: translateX(120px) scale(0.9) translateZ(-100px);
  }

  .card.right-2 {
    transform: translateX(250px) scale(0.8) translateZ(-300px);
  }

  .member-name {
    font-size: 2rem;
  }

  .member-role {
    font-size: 1.2rem;
  }

  .member-name::before,
  .member-name::after {
    width: 50px;
  }

  .member-name::before {
    left: -70px;
  }

  .member-name::after {
    right: -70px;
  }
}

@media (max-width: 400px) {
  /*
        Aquí van los estilos para monitores de este tamaño específico,
        como 1600x900.
    */

  .seccion5 .interprete {
    top: 10%;
  }
  .seccion5 {
    background-color: blue;
  }
}
/* Se aplica a 1920px Y cualquier ancho superior. */
@media screen and (min-width: 1920px) {
  .papiro-centro {
    width: 76% !important;
  }
  .seccion5 {
    width: 100%;
    height: 100vh;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
  }
  .seccion5 .about-title {
    top: 2% !important;
    display: block;
  }
  .seccion5 .swiper {
    width: 80% !important;
    height: 80%;
    top: 3%;
    cursor: none;
  }
  .swiper-slide {
    top: 5%;
  }

  .swiper-button-next, .swiper-button-prev {
    margin-top: 0% !important;
    background-color:var(--sexto-color);
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    cursor: none !important;
  }
 .swiper-button-next:hover, .swiper-button-prev:hover {
    background-color:var(--octavo-color);
    cursor: none !important;
  }

  .seccion6 {
    width: 100%;
    height: 100vh;
  }
  svg {
    top: -5%;
    right: 18%;
  }
  .abstracto {
    margin: top 35%;
  }
  .llama-menu img {
    right: 48%;
    top: 15%;
  }

  .seccion5 .interprete {
    position: absolute;
    top: 110%;
  }
  .seccion5 .mostrar-boton {
    position: absolute;
    display: flex;
    top: 110% !important;
  }
}
